<div class="contents row">
    <div class="contents__post" style="background-image: url(<%= @tweet.image %>);background-repeat: no-repeat;width:100%;background-size: cover;">
         <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="more">
        <p class="arrow"><%= image_tag 'arrow_top.png' %></p>
        <ul class="more_list">
          <li>
            <%= link_to 'edit', "/tweets/#{@tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to 'delete', "/tweets/#{@tweet.id}", method: :delete %>
          </li>
        </ul>
      </div>
        <% end %>
      <div class="contents__post__textAndName">
        <p class="contents__post__textAndName__text"><%= simple_format(@tweet.text) %></p>
        <p class="contents__post__textAndName__name">
          <a href="/users/<%= @tweet.user.id %>">
            <span>Nickname: </span><%= @tweet.user.nickname %>
          </a>
        </p>
      </div>
    </div>
  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "Write comments here", rows: "2", class: 'comments' %>
        <%= form.submit "SEND", class: 'comments-send' %>
      <% end %>
    <% else %>
      <strong><p class="comment-restriction">- You need to Login or Register to make comments -</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜Comments-list＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
  </div>
</div>